* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 719;
  font-style: italic;
  font-variation-settings: "wdth" 100;
}

header {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.img-contenedor {
  margin-left: 3px;
}
.Logo {
  height: 100px;
  width: 100px;
}
.container-first {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.buscador {
  border: 9px;
  height: 40px;
  width: 350px;
  padding: 0 15px;
  margin-top: 3%;
  border-radius: 20px;
  background-color: rgb(228, 240, 240);
}
.title {
  color: red;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0;
  text-transform: uppercase;
  margin: 2% 22% 0 22%;
}
.btn {
  width: 37px;
  height: 37px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url("./img/Buscador.png");
  margin-top: 3%;
}
.btn-header-container {
  display: flex;
  margin: 30px 70px 30px 70px;
}
.clean-link {
  text-decoration: none;
  color: black;
}
.ListOption {
  margin: 20px;
  display: flex;
  gap: 45px;
  justify-content: space-between;
}
.active {
  text-decoration: none;
  color: #3e445a !important;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0;
  text-transform: uppercase;
  position: relative;
  margin-right: 90px;
}

.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #3e445a;
}
.list {
  text-decoration: none;
  color: #3e445a !important;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0;
  text-transform: uppercase;
  position: relative;
  margin-right: 90px;
}

.list:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #3e445a;
  transition: 0.3s ease;
}
.list:hover:after {
  width: 100%;
}

.btn-contenedor {
  text-decoration: none;
  display: flex;
  width: 130px;
  margin-left: 110px;
}
.btn-contenedor:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #3e445a;
  transition: 0.3s ease;
}
.btn-contenedor:hover:after {
  width: 100%;
}
.btn-text {
  font-family: "Montserrat", sans-serif;
  color: #3e445a;
  text-decoration: none;
  margin: 5px;
}
.Cart-counter {
  width: 20px;
  background-color: #c6ceec;
  border: solid 0.5px black;
  border-radius: 20px;
  text-decoration: none !important;
}
hr {
  width: 100% !important;
}
/* First Zone */

.first-zone {
  width: 80%;
  display: grid;
  max-width: 1165px;
  margin: 0 auto;
  overflow: hidden;
  grid-template-columns: auto auto auto auto;
}
.caja {
  text-align: center;
}
.boton {
  width: 20px;
  margin: 20px;
}
.bo-load {
  text-decoration: none;
  color: black;
  padding: 2px;
  width: 40px;
  background-color: rgb(182, 177, 177);
  border: 1px solid black;
  background-color: rgb(194, 75, 75);
}
.btn-add {
  text-decoration: none;
  color: black;
  padding: 2px;
  width: 150px;
  background-color: rgb(182, 177, 177);
  border: 1px solid black;
  background-color: rgb(235, 18, 18);
}
.selectZone {
  width: 250px !important;
}
/* Carrusel */
.altura {
  height: 600px !important;
  width: 500px !important;
}
.link {
  text-decoration: none;
  color: #3e445a;
  border: 1px solid black;
  background-color: #e1e2e7;
}
/* Formulario */
.form-container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}
.form-control {
  border-radius: 15px;
  margin: 0 auto;
  text-align: center;
  width: 50% !important;
}
.init-btn {
  width: 150px;
  background-color: white;
  border-radius: 20px;
}
.init-btn:hover {
  background-color: #d8dae0;
}
.warning {
  color: red;
}
.text {
  text-align: center;
  width: 300px;
  margin: 0 auto;
}
/*Footer*/
.back {
  margin-top: 100px;
  background-color: rgb(243, 71, 71);
}
.color {
  color: black !important;
}
/*    ItemInfo-container
  */
.grid-layout {
  display: grid;
  grid-template-columns: auto auto;
  width: 80%;
  max-width: 1165px;
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid black;
}
.img_prod {
  padding: 10px;
  border: solid black 1px;
}
.prod-info {
  margin-top: 50px;
}
.prod-title {
  margin-bottom: 40px;
}
.prod_text {
  width: 500px;
}
/* Cart-Zone */
.cart-zone {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}
.productos-carrito {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto;
  border: 1px solid black;
  gap: 10px;
  margin-bottom: 12px;
}
.img-cart-zone {
  width: 300px;
  height: 250px;
}
.second-prod-zone {
  width: 60%;
  text-align: center;
  margin-left: 100px;
}
.item-prod-title {
  margin-bottom: 20px;
}
/* Carritp Bacio */
.Carrito-Bacio {
  max-width: 1100px;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  margin-bottom: 12px;
}
.carritobacio-btn {
  margin-top: 15px;
  padding: 6px;
  text-decoration: none;
  color: black;
  border-radius: 10px;
  font-size: 20px;
  background-color: rgb(67, 180, 232);
  width: 600px;
  height: 50px;
  display: inline-block;
}
.btn-danger {
  background-color: rgb(244, 52, 52);
  border-radius: 5px;
  margin-bottom: 10px;
  width: 80px;
}
.btn-finish {
  display: block;
  width: 200px;
  margin: 20px auto;
  padding: 12px 20px;
  text-align: center;
  background-color: rgb(67, 180, 232);
  border-radius: 10px;
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.btn-finish-orange {
  display: block;
  width: 200px;
  margin: 20px auto;
  padding: 12px 20px;
  text-align: center;
  background-color: rgb(255, 115, 0);
  border-radius: 10px;
  text-decoration: none;
  color: black;
  font-size: 20px;
}
